body {
  margin: 0;
  
  font-family: Arial, Helvetica, sans-serif;
}


.content-wrapper {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    padding-top: 100px; 
}

/* thneh coool nagivator bar */
#navbar {
  background-color: #301848;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 1000; /* Ensure navbar stays on top */
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* some header and parag */

h1 {
  text-align: center;
  color: #3e1d5f;
  font-size: 120px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 50px;
}
h2 {
  text-align: center;
  color: #000000;
  font-size: 30px;
}
h3 {
    text-align:center;
    color: #3e1d5f; 
    margin-top: 40px;
    font-size: 60px;
}

p {
    text-align: center; 
    line-height: 1.6; 
    max-width: 600px; 
    margin: 10px auto; 
    font-size: 30px;
}

/* faq, this looks bad  */
.faq-section {
    max-width:600px; 
    padding: 60px 20px;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.faq-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color:#221f1f;
}
.faq-item {
    border-bottom:1px solid #ddd;
    padding: 10px 0;
}

.faq-question{
    background: none;
    border: none;
    width:100%;
    text-align:left;
    font-size:30px;
    color:#007bff;
    cursor: pointer;
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.faq-questions:focus{
    outline:none;
}

.icon {
    font-size: 1.5rem;
    color: #007bff;
}
.faq-answer{
    padding:10px;
    font-size: 20px;
    color:#555;
    display:none;
    text-align: left; 
}
.faq-question.active .icon{
    content: "-";
}


